@{
    ViewData["Title"] = "C# Quiz App";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <p> So starting a quiz app</p>
</div>
<div>
    <quiz>
        <div class="card shadow-lg border-0 rounded-4">
            <div class="d-flex justify-content-between mb-3">
            <div class="card-header bg-dark text-white rounded-top-4">
                   <h4 class="mb-0">
                Question <span id="questionNumber">1</span>
            </h4>
            <div class="text-danger"> Time Left: <span id="timer">10</span>s</div>

            </div>
              <div class="card-body p-4">

           
            <h3 id="questionText" class="mb-4">
          
            </h3>
           
                <h3 id="optionsContainer" ></h3>
 <div class="d-flex justify-content-between">


                    <button type="button" class="btn btn-success purple px-4" onclick="submitAnswer()">
                        Submit Answer
                    </button>

                    <button type="button" class="btn btn-primary px-4" onclick="nextQuestion()">
                        Next
                    </button>

                </div>

        

               <div class="card-footer text-muted text-center">
            Score: <span id="score">0</span>
        </div>


        </div>
    </quiz>
</div>

<script>
    let questions =[];
    let currentQuestion= 0;
    async function loadquestion(){
        const response = await fetch('/data/question.json');
        questions = await response.json();
        displayQueston();

    }
    function displayQueston(){
           clearInterval(timer);
            timeLeft = 10;
             document.getElementById("timer")
            .innerText = timeLeft;
        const question = questions[currentQuestion];
        document.getElementById("questionNumber").innerText = question.id;

                document.getElementById("questionText").innerText = question.question;

        let optionsContainer = document.getElementById("optionsContainer");
        optionsContainer.innerHTML = '';
        question.option.forEach((option, index)=>{
            optionsContainer.innerHTML +=`
     <div class="form-check mb-3">
                    <input class="form-check-input" type="${question.type}" name="answer" id="option${index}">
                    <label class="form-check-label" for="option${index}">
                      ${option}
                    </label>
                </div>
    `;
        });
        displayTimer();
    }


function displayTimer(){
     timer = setInterval(() => {

            timeLeft--;

            document.getElementById("timer")
                .innerText = timeLeft;
//nayaannn hehe 
            if (timeLeft <= 0) {
                clearInterval(timer);
                alert("Time is up!");
                nextQuestion();
            }
        }, 1000);
}
    function submitAnswer(){
    const question = questions[currentQuestion];
    const selectedAnswer = document.querySelector('input[name="answer"]:checked');
    
    if (!selectedAnswer) {
        alert('Please select an answer');
        return;
    }

    if (selectedAnswer.value === question.answer) {
        score++;
        document.getElementById("score").innerText = score;
    }
    

    nextQuestion();
}

    function nextQuestion(){
        currentQuestion ++;
        if (currentQuestion< questions.length){
            displayQueston();
        }else{
            document.querySelector(".card").innerHTML=
            "<h2>QUIZ COMPLETED</h2> <h3> Score </h3>"
        }
    }

    loadquestion();
</script>
