@{
    ViewData["Title"] = "C# Quiz App";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <p> So starting a quiz app</p>
</div>
<div>
    <quiz>
        <div class="card shadow-lg border-0 rounded-4">
  
  </div>
    </quiz>
</div>

<script>

    let questions =[];
    let currentQuestion= 0;
    let score = 0;
    let timer=0;
    let index=0;
let timeLeft = 10;

    async function loadquestion(){
        const response = await fetch('/data/question.json');
                questions = await response.json();
        questions.sort(() => Math.random() - 0.5);
         document.querySelector(".card").innerHTML=
         `
         <h1>Welcome to the C# quiz App developed using .Net </h1>
         <button type="button" value="Start" class="btn btn-success purple px-4 btn-sm" onclick="displayQueston()">Start</button>
         `;

    }
   
//displayQueston not Question heheeee
    function displayQueston(){
         document.querySelector(".card").innerHTML=
         ` <div class="d-flex justify-content-between mb-3">
         <div class= "progress mt-2" style="height 5px;">
         <div class="progress-bar progress-bar-striped progress-bar-animated bg-sad" role="progressbar"
         style="width: ${((currentQuestion+1)/ questions.length)*100}%">
         
          </div>
          </div>
            <div class="card-header bg-dark text-white rounded-top-4">
                   <h4 class="mb-0">
                Question <span id="questionNumber">1</span>
            </h4>
            <div class="text-danger"> Time Left: <span id="timer">10</span>s</div>

            </div>
              <div class="card-body p-4">
                


           
            <h3 id="questionText" class="mb-4">
          
            </h3>
           
                <h3 id="optionsContainer" ></h3>
 <div class="d-flex justify-content-between">


                    <button type="button" class="btn btn-success purple px-4" onclick="submitAnswer()">
                        Submit Answer
                    </button>

                    <button type="button" class="btn btn-primary px-4" onclick="nextQuestion()">
                        Next
                    </button>

                </div>

        

               <div class="card-footer text-muted text-center">
            Score: <span id="score">${score}</span>
        </div>

         `;
           clearInterval(timer);
            timeLeft = 10;
             document.getElementById("timer")
            .innerText = timeLeft;
        const question = questions[currentQuestion];
        index+=1;
        document.getElementById("questionNumber").innerText = index;

                document.getElementById("questionText").innerText = question.question;

        let optionsContainer = document.getElementById("optionsContainer");
        optionsContainer.innerHTML = '';
        question.option.forEach((option, index)=>{
            optionsContainer.innerHTML +=`
     <div class="form-check mb-3">
                    <input class="form-check-input" type="${question.type}" value="${option}" name="answer" id="option${index}">
                    <label class="form-check-label" for="option${index}">
                      ${option}
                    </label>
                </div>
    `;
        });
        displayTimer();
    }
    

function displayTimer(){
     timer = setInterval(() => {

            timeLeft--;

            document.getElementById("timer")
                .innerText = timeLeft;
//nayaannn hehe 
            if (timeLeft <= 0) {
                clearInterval(timer);
                alert("Time is up!");
                nextQuestion();
            }
        }, 1000);
}


    function submitAnswer(){
    const question = questions[currentQuestion];
    const selectedAnswer = document.querySelector('input[name="answer"]:checked');
     

    
    if (!selectedAnswer) {
        alert('Please select an answer');
        return;
    }
 console.log(selectedAnswer.value);
  console.log(question.answer);
     if(selectedAnswer.value === question.answer){
             score= score +1;
             console.log("why not here ");
        
        }
        if (selectedAnswer.value != question.answer){
            score = score - 0.5;
        }

//whatttttt
    document.getElementById("score").innerText = score;
        console.log(score);
//scoretrack();
    nextQuestion();
}



    function nextQuestion(){
        currentQuestion ++;
        if (currentQuestion< questions.length){
            displayQueston();
        }else{
            document.querySelector(".card").innerHTML=
            `<h2>QUIZ COMPLETED</h2>
             <h3> Score <span id="score">${score}</span></h3>`
        }
    }

loadquestion();
 
</script>


  